$px: 16rem/750;
page-login {
  .fixed-content, .scroll-content{
    background-color: #f9f9f9;
  }
  .banner{
    position: relative;
    width: 100%;
    height: 40.8%;
    background: url(../../assets/image/login/beijing.png) no-repeat center center;
    background-size: 100% 100%;
    .bottom{
      position: absolute;
      width: 100%;
      height: 90*$px;
      bottom: 0;
      font-size: 36*$px;
      color: #fff;
      .item{
        position: relative;
        width: 375*$px;
        height: 90*$px;
        text-align: center;
        img{
          position: absolute;
          left: 48%;
          bottom: 0;
          width: 13*$px;
          height: 13*$px;
        }
      }
    }
  }
  .form{
    background-color: #f9f9f9;
    padding-top: 5.9%;
    .input-wrap{
      background-color: #fff;
      width: 590*$px;
      height: 230*$px;
      border-radius: 36*$px;
      border: 1px solid rgb(230,230,230);
      padding: 0 48*$px;
      color: rgb(153,153,153);
      font-size: 30*$px;
      margin: 0 auto;
      box-shadow: 0 6*$px 10*$px 5*$px rgba(234,234,234,.8);
      input{
        width: 492*$px;
        height: 113*$px;
        line-height: 113*$px;
        border: none;
      }
      .phone-wrap{
        border-bottom: 2*$px solid rgb(230,230,230);
        background-color: #fff;
      }
    }
    .forget{
      margin-top: 3.37%;
      color: rgb(51,51,51);
      font-size: 28*$px;
      margin-bottom: 6.1%;
      padding-right: 82*$px;
    }
    .submit-wrap{
      text-align: center;
      .submit{
        width: 590*$px;
        height: 80*$px;
        line-height: 80*$px;
        background-color: rgb(82, 175, 255);
        color: #fff;
        font-size: 32*$px;
        text-align: center;
        margin: 0 auto;
        border-radius: 36*$px;
      }
    }
    .goregister{
      margin-top: 3.4%;
      font-size: 28*$px;
      color: rgb(51,51,51);
      text-align: center;
    }
  }
}
