$px: 16rem/750;
page-designer-detail{
  ion-header{
    .title{
      position: relative;
      .back{
        position: absolute;
        width: 24*$px;
        height: 42*$px;
        left: 20*$px;
        top:30*$px;
      }
      .share{
        position: absolute;
        width: 42*$px;
        height: 42*$px;
        right: 20*$px;
        top:30*$px;
      }
    }
  }
  .designer-intro{
    padding-top: 40*$px;
    text-align: center;
    background-color: #fff;
    padding-bottom: 20*$px;
    .img-wrap{
      width: 160*$px;
      height: 160*$px;
      margin: 0 auto 28*$px;
      border-radius: 50%;
      img{
        width: 160*$px;
        height: 160*$px;
        border-radius: 50%;
      }
    }
    h1{
      font-size: 34*$px;
      color: rgb(51,51,51);
    }
    .sec{
      margin: 18*$px auto;
    }
    h3{
      font-size: 30*$px;
      color: rgb(102,102,102);
      .style{
        margin-right: 5*$px;
      }
    }
    .button-wrap{
      margin-top: 22*$px;
      button{
        width: 220*$px;
        height: 68*$px;
        line-height: 68*$px;
        border-radius: 30*$px;
        color: #fff;
        font-size: 30*$px;
      }
      .appoint{
        background-color: rgb(53,171,254);
      }
      .private{
        background-color: rgb(254,125,31);
      }
    }
  }
  .caseWrapper{
    margin-top: 20*$px;
    .caseTitle{
      background-color: #fff;
      font-size: 28*$px;
      .panorama{
        border-bottom: 1px solid rgb(53,171,254);
        color: rgb(53,171,254);
      }
      li{
        width: 375*$px;
        text-align: center;
        height: 100*$px;
        line-height: 100*$px;
        color: rgb(51,51,51);
      }
    }
    .panorama-item{
      padding: 30*$px 30*$px;
      background-color: #fff;
      margin-bottom: 30*$px;
      .img-wrap{
        position: relative;
        margin-bottom: 20*$px;
        width: 686*$px;
        height: 516*$px;
        img{
          width: 686*$px;
          height: 516*$px;
        }
        .panorama-vr{
          position: absolute;
          width: 170*$px;
          height: 60*$px;
          right: 20*$px;
          top:20*$px;
        }
      }
      .text{
        font-size: 26*$px;
        color: rgb(51,51,51);
        height: 30*$px;
      }
    }
    .case-wrap{
      .case-list{
        padding: 30*$px 30*$px;
        background-color: #fff;
        margin-bottom: 30*$px;
        .case-top{
          .caseImg-left{
            margin-right: 32*$px;
            width: 446*$px;
            height: 446*$px;
            img{
              width: 446*$px;
              height: 446*$px;
            }
          }
          .caseImg-right{
            height: 476*$px;
            .img-wrap{
              width: 209*$px;
              height: 209*$px;
              margin-bottom: 20*$px;
              img{
                width: 209*$px;
                height: 209*$px;
              }
            }
          }
        }
        .case-bottom{
          font-size: 22*$px;
          color: #333;
        }
      }
    }
  }
  .segment-md .segment-button,.segment-ios .segment-button{
    border: none;
    width: 50%;
    font-size: 28*$px;
    color: rgb(51,51,51);
    height: 100*$px;
    line-height: 100*$px;
    border-radius: 0;
    flex: inherit;
  }
  .segment-md .segment-button.segment-activated,.segment-ios .segment-button.segment-activated{
    background-color: #fff;
    border-bottom: 1px solid rgb(53,171,254);
    color: rgb(53,171,254);
    border-radius: 0;
  }
}


