  <ion-header>
    <div class="title">
      <img class="back" src="../../assets/image/designer/detail/icon-banck@3x.png" alt="" (click)="backListPage()">
      设计师详情
      <img class="share" src="../../assets/image/designer/detail/icon-share@3x.png" alt="" (click)="isShow=!isShow">
    </div>
  </ion-header>
  <ion-content>
    <div class="designer-intro">
      <div class="img-wrap">
        <!--<img src="../../assets/image/designer/design-1@3x.png" alt="">-->
        <img src="{{designerData?.photo?.path}}" alt="">
      </div>
      <h1>{{nickname}}</h1>
      <h3 class="sec">
        <span>{{provinceName}}</span>
        <span>{{workingTime}}年工作经验</span>
      </h3>
      <h3>
        擅长风格：<span class="style" *ngFor="let style of goodStyles">{{style.name}}</span>
      </h3>
      <p class="button-wrap">
        <button class="appoint" (click)="directToBaojia(designerId)">预约Ta</button>
        <button class="private">私信Ta</button>
      </p>
    </div>
    <div class="caseWrapper">
      <ion-segment [(ngModel)]="viewMode" class="caseTitle clearfix" >
        <ion-segment-button value="panorama">
        <h3 name="panorama">720° 全景 （11）</h3>
        </ion-segment-button>
        <ion-segment-button value="effect">
        <h3 name="effect">效果图 （21）</h3>
        </ion-segment-button>
      </ion-segment>
      <div class="property-list">
        <!--全景-->
        <div class="panorama-wrap" *ngIf="viewMode==='panorama'">
          <div class="panorama-item" *ngFor="let panorama of panoramaList">
            <div class="img-wrap">
              <!--<img src="../../assets/image/designer/detail/pic-1@3x.png" alt="">-->
              <img src="{{getPicture(panorama?.photo?.path)}}" alt="">
              <img class="panorama-vr" src="../../assets/image/designer/detail/icon-720@3x.png" alt="">
            </div>
            <p class="text">{{panorama.title}}</p>
          </div>
        </div>
        <!--效果图-->
        <div class="case-wrap" *ngIf="viewMode==='effect'" id="effect">
          <div class="case-list" *ngFor="let case of caseList">
            <div class="case-top clearfix">
              <div class="caseImg-left fl" (click)="derectToDetail(case)">
                <img src="{{getPicture(case?.photo?.path)}}" alt="">
                <!--<img src="../../assets/image/designer/detail/pic-3@3x.png" alt="">-->
              </div>
              <div class="caseImg-right fl">
                <div class="img-wrap" *ngFor="let caseItem of case?.photos?.cover" (click)="derectToDetail(case)">
                  <img src="{{getPicture(caseItem.photo_path)}}" alt="">
                  <!--<img src="../../assets/image/designer/detail/pic-4@3x.png" alt="">-->
                </div>
              </div>
            </div>
            <div class="case-bottom">
              {{case.title}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div id="overlay" *ngIf="isShow" (click)="isShow=!isShow">
    <div class="share-wrap">
      <p class="title">
        <span class="line"></span>
        <span class="text">分享至</span>
        <span class="line"></span>
      </p>
      <div class="step-wrap clearfix">
        <div class="step-item fl">
          <img src="assets/image/share/icon-WeChat@3x.png" alt="">
          <p>微信</p>
        </div>
        <div class="step-item fl">
          <img src="assets/image/share/icon-friends@3x.png" alt="">
          <p>朋友圈</p>
        </div>
        <div class="step-item fl" (click)="shareQQ()">
          <img src="assets/image/share/icon-qq@3x.png" alt="">
          <p>QQ</p>
        </div>
        <div class="step-item last fl">
          <img src="assets/image/share/icon-weibo@3x.png" alt="">
          <p>微博</p>
        </div>
      </div>

    </div>
  </div>

