$px: 16rem/750;
page-self-MyApply{
  ion-header {
    .title {
      position: relative;
      .back {
        position: absolute;
        width: 24*$px;
        height: 42*$px;
        left: 20*$px;
        top: 30*$px;
      }
      .save{
        position: absolute;
        right: 20*$px;
        font-size: 26*$px;
      }
    }
  }
  ion-content{
    .headBar{
      margin-bottom: 20*$px;
    }
    .systemMessage-wrap{
      .systemMessage-item{
        border-bottom: 1px solid rgb(229, 229, 229);
        .circle{
          display: inline-block;
          width: 16*$px;
          height: 16*$px;
          background-color: rgb(224, 69, 75);
          border-radius: 50%;
          margin-right: 20*$px;
        }
        .text{
          color: rgb(51,51,51);
        }
        .alreadyRead{
          color: rgb(102,102,102);
        }
        .time{
          color: rgb(153,153,153);
        }
      }
    }
    .setting-item{
      font-size: 28*$px;
      color: rgb(51,51,51);
      height: 100*$px;
      background-color: #fff;
      line-height: 100*$px;
      padding: 0 20*$px;
      input{
        width: 670*$px;
        height: 100*$px;
        line-height: 100*$px;
      }
      img{
        width: 28*$px;
        height: 28*$px;
        vertical-align: middle;
      }
    }
    .privateLetter-wrap{
      background-color: #fff;
      .privateLetter-item:nth-last-child{
        border-bottom: none;
      }
      .privateLetter-item{
        padding: 25*$px 20*$px;
        border-bottom: 1px solid rgb(229, 229, 229);
        .private-img{
          margin-right: 25*$px;
          img{
            width: 96*$px;
            height: 96*$px;
          }
        }
        .leter-wrap{
          .leter-name{
            font-size: 32*$px;
            color: rgb(51,51,51);
            margin-bottom: 24*$px;
          }
          .leter-text{
            font-size: 24*$px;
            color: rgb(102,102,102);
          }
        }
        .time{
          font-size: 24*$px;
          color: rgb(153,153,153);
        }
      }
    }
  }
}
