<div id="home" view-title="首页" cache-view="false" style="height: 100%; width: 100%">
  <ion-header>
      <span class="location">北京</span>
      <div class="title">首页</div>
  </ion-header>
  <ion-content>
    <!--<button (click)="directToDemo()">Demo页</button>-->
    <div class="nav-module slider-84">
      <ion-slides loop="true" #mySlider (ionSlideDidChange)="onSlideChanged($event)">
          <ion-slide *ngFor="let banner of bannerList">
            <img src="../../assets/image/home/ban.jpg" class="slide-image"/>
            <!--<img src="{{getPhoto(banner.photo.path)}}" class="slide-image"/>-->
          </ion-slide>
        <!--<ion-slide>-->
          <!--<img src="../../assets/image/home/ban1.jpg" class="slide-image"/>-->
        <!--</ion-slide>-->
        <!--<ion-slide>-->
          <!--<img src="../../assets/image/home/ban2.jpg" class="slide-image"/>-->
        <!--</ion-slide>-->
      </ion-slides>
      <div class="tab-function">
        <ul class="ulList clearfix">
          <li class="fl listItem listFir" (click)="directToYanfang()">
            <i><img src="../../assets/image/home/icon-1@3x.png" alt=""></i>
            <p>免费验房</p>
          </li>
          <li class="fl listItem listSec" (click)="directToBaojia()">
            <i><img src="../../assets/image/home/icon-2@3x.png" alt=""></i>
            <p>设计报价</p>
          </li>
          <li class="fl listThir" (click)="directToUnderlineEngineering()">
            <i><img src="../../assets/image/home/icon-3@3x.png" alt=""></i>
            <p>线下体验店</p>
          </li>
          <li class="fl listItem listFour">
            <i><img src="../../assets/image/home/icon-4@3x.png" alt=""></i>
            <p>全景看房</p>
          </li>
        </ul>
      </div>
    </div>
    <!--用户案例-->
    <div class="userCase">
      <div class="title clearfix">
        <h1 class="fl">用户案例</h1>
        <p class="more fr" (click)="directToCaseMore()">更多 <img src="../../assets/image/home/icon-more@3x.png" alt=""></p>
      </div>
      <div class="caseWrapper">
        <div class="case-item" *ngFor="let case of caseList" (click)="derectToDetail(case)">
          <div class="img-wrap">
            <!--<img src="../../assets/image/home/pic-1@3x.png" alt="">-->
            <img src="{{getPhoto(case?.photo?.path)}}" alt="">
          </div>
          <div class="text-wrap clearfix">
            <div class="caseTitle fl">{{case.title}}</div>
            <div class="caseStyle fr">
              <span>{{case.type_case}}</span>
              <span class="line">|</span>
              <span>{{case.design}}</span>
              <span class="line">|</span>
              <span class="last">{{case.acreage}}m²</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--人气设计师-->
    <div class="designWrapper">
      <div class="title clearfix">
        <h1 class="fl">人气设计师</h1>
        <p class="more fr" (click)="directToDesignerMore()">更多 <img src="../../assets/image/home/icon-more@3x.png" alt=""></p>
      </div>
      <ion-slides class="slide-title designList" [slidesPerView]="pageNumber" [pager]="false" >
        <div *ngFor="let designer of designerList" (click)="openDetailsPage(designer.id)">
          <ion-slide>
            <div class="design-item">
              <!--<img src="../../assets/image/home/design-1@3x.png" alt="">-->
              <div class="img-wrap">
                <img src="{{getPhoto(designer.cover)}}" alt="">
              </div>
              <h1>{{designer.nickname}}</h1>
              <h3>{{designer.position}}</h3>
            </div>
          </ion-slide>
        </div>
      </ion-slides>
    </div>
    <!--装修攻略-->
    <div class="decorationWrpper">
      <div class="title clearfix">
        <h1 class="fl">装修攻略</h1>
        <p class="more fr" (click)="directToArticleMore()">更多 <img src="../../assets/image/home/icon-more@3x.png" alt=""></p>
      </div>
      <div class="decoration-item clearfix" *ngFor="let article of articleList" (click)="directToArticleDetail(article.id)" >
        <div class="img-wrap fl">
          <img src="{{getPhoto(article.photo.path)}}" alt="">
          <!--<img src="../../assets/image/home/pic-3@3x.png" alt="">-->
        </div>
        <div class="decoration-text fl">
          <div class="decoration-title">{{article.title}}</div>
          <div class="decoration-des">{{article.intro}}</div>
          <div class="decoration-bottom">
              <div class="num fl">
                <img src="../../assets/image/home/icon-eye@3x.png" alt="">
                <span>{{article.pageView}}</span>
              </div>
            <div class="time fl">{{article.create_time}}</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</div>

