$px: 16rem/750;
page-self-myDesignDetail {
  ion-header {
    .title {
      position: relative;
      .back {
        position: absolute;
        width: 24*$px;
        height: 42*$px;
        left: 20*$px;
        top: 30*$px;
      }
    }
  }
  ion-content{
    .titleBar{
      padding-top: 25*$px;
      height: 148*$px;
      background-color: #fff;
      border-bottom: 1px solid rgb(229, 229, 229);
      padding-left: 20*$px;
      .title{
        font-size: 30*$px;
        color: rgb(51,51,51);
        margin-bottom: 20*$px;
      }
      .loaction{
        font-size: 28*$px;
        color: rgb(102,102,102);
        img{
          width: 25*$px;
          height: 25*$px;
          margin-right: 20*$px;
        }
        .addr{
          margin-right: 20*$px;
        }
      }
    }
    .intro{
      padding-top: 50*$px;
      padding-bottom: 20*$px;
      background-color: #fff;
      .img-wrap{
        width: 100%;
        text-align: center;
        img{
          width: 600*$px;
          height: 455*$px;
        }
      }
      .intro-text{
        font-size: 30*$px;
        color: rgb(51,51,51);
        line-height: 50*$px;
        padding-left: 20*$px;
      }
      .edit{
        font-size: 30*$px;
        color: rgb(53,171,254);
        padding-left: 20*$px;
        padding-top: 20*$px;
      }
    }
    .room-wrap{
      background-color: #fff;
      padding: 30*$px 0;
      margin-top: 20*$px;
      .room-item{
        padding-left: 20*$px;
        padding-bottom: 30*$px;
        border-bottom: 1px solid rgb(234,234,234);
        h3{
          font-size: 30*$px;
          color: rgb(51,51,51);
          margin-bottom: 25*$px;
        }
        .idea{
          font-size: 30*$px;
          color: rgb(102,102,102);
          margin-bottom: 25*$px;
        }
        .edit{
          font-size: 30*$px;
          color: rgb(53,171,254);
          margin-bottom: 30*$px;
        }
        .img-wrap{
          widows:730*$px;
          img{
            width: 345*$px;
          }
        }
        .num-text{
          font-size: 30*$px;
          color: rgb(102,102,102);
        }
      }
    }
  }
}
