<ion-header>
  <div class="title">
    <img class="back" src="assets/image/designer/detail/icon-banck@3x.png" alt="" (click)="backListPage()">
    我的云设计
  </div>
</ion-header>
<ion-content>
  <div class="titleBar">
    <p class="title">
      <span>{{designDetailData?.name}}</span>
      <span>{{designDetailData?.createTime|date:'yyyy-MM-dd'}}</span>
    </p>
    <p class="loaction">
      <img src="assets/image/selfDesign/icon-position@3x.png" alt="">
      <span class="addr">北京</span>
      <span>{{designDetailData?.acreage}}m²</span>
    </p>
  </div>
  <div class="intro">
    <div class="img-wrap">
      <!--<img src="assets/image/selefDetail/pic-1@3x.png" alt="">-->
      <img src="{{getPicture(designDetailData?.photo?.path)}}" alt="">
    </div>
    <p class="intro-text">{{designDetailData?.content}}</p>
    <p class="edit" (click)="directToEdit(designDetailData.id, undefined, designDetailData?.content)">编辑</p>
  </div>
  <div class="room-wrap">
    <div class="room-item" *ngFor="let expand of designDetailData?.detail">
      <h3>{{expand?.type?.chineseName}}</h3>
      <div class="idea">
        {{expand?.content}}
      </div>
      <div class="edit" (click)="directToEdit(designDetailData.id, expand.id, expand?.content )">编辑</div>
      <div class="img-wrap" *ngFor="let expand of expand?.photos">
        <img src="{{getPicture(expand?.photo?.path)}}" alt="">
        <!--<img src="assets/image/selefDetail/pic-2@3x.png" alt="">-->
      </div>
      <p class="num-text">共{{expand?.photos.length}}张</p>
    </div>
  </div>
</ion-content>
