  <ion-header>
    <div class="title">
      找设计
      <img class="newsIcon fr" src="../../assets/image/designer/icon-news@3x.png" alt="">
    </div>
  </ion-header>
  <ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="desigerWrapper">
      <div class="designer-item" *ngFor="let designer of designerList">
        <div class="designer-top clearfix">
          <div class="desiger-left fl" (click)="openDetailsPage(designer.id)">
            <!--<img src="../../assets/image/designer/design-1@3x.png" (click)="openDetailsPage(designer.id)" alt="">-->
            <img src="{{getPhoto(designer?.photo?.path)}}"  alt="">
          </div>
          <div class="designer-middle fl">
            <h1>{{designer.nickname}}</h1>
            <p class="attention">
              <span class="care">
                预约
                <span class="num">{{designer.requestCount}}</span>
              </span>
              <span class="bargin">
                成交
                <span class="num">{{designer.caseCount}}</span>
              </span>
            </p>
            <p class="brief">
              <span>{{designer.userExtend?.location?.provinceName}}</span>
              <span>|</span>
              <span>{{designer.userExtend?.workingTime}}年设计经验</span>
            </p>
          </div>
          <div class="designer-right fl">
            <button class="appoint" (click)="directToBaojia(designer.id)">预约Ta</button>
          </div>
        </div>
        <div class="designer-bottom clearfix">
          <div class="img-wrap fl" *ngFor="let caseDto of designer.caseDtos" (click)="derectToDetail(caseDto)">
              <!--<img src="../../assets/image/designer/pic-1@3x.png" alt="">-->
            <img src="{{getPhoto(caseDto?.photo?.path)}}" alt="">
          </div>
        </div>
      </div>
    </div>
     <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="加载更多...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </ion-content>

