$px: 16rem/750;
page-lookpassword {
  ion-header{
    .title{
      position: relative;
      .back{
        position: absolute;
        width: 24*$px;
        height: 42*$px;
        left: 20*$px;
        top:30*$px;
      }
    }
  }
  ion-content{
    padding: 20*$px;
    .form{
      font-size: 30*$px;
      color: rgb(153,153,153);
      padding: 20*$px;
      input{
        width: 710*$px;
        height: 100*$px;
        padding-left: 36*$px;
        border-radius: 10*$px;
        background-color: #fff;
        border: 1px solid rgb(230,230,230);
        margin-bottom: 20*$px;
      }
      .verify-wrap{
        .verify-code{
          width: 460*$px;
          margin-right: 10*$px;
        }
        .getCode{
          width: 230*$px;
          height: 96*$px;
          line-height: 100*$px;
          background-color: rgb(82, 174, 254);
          border-radius: 10*$px;
          color: #fff;
          text-align: center;
          margin-top: 0;
          font-size: 30*$px;
        }
        .getCode:disabled{
          background-color: rgb(192,192,192);
        }
      }
      .finish{
        width: 710*$px;
        height: 88*$px;
        line-height: 88*$px;
        background-color: rgb(82, 174, 254);
        border-radius: 10*$px;
        color: #fff;
        text-align: center;
        margin-top: 20*$px;
        font-size: 30*$px;
      }
    }
  }
}
