
<ion-header>
  <div class="title">
    <img class="back" src="assets/image/designer/detail/icon-banck@3x.png" alt="" (click)="backListPage()">
    我的消息
    <span class="save" (click)="allReadNews()">全部已读</span>
  </div>
</ion-header>
<ion-content>
  <div class="setting-item headBar">
    <ion-segment [(ngModel)]="viewMode" class="clearfix">
      <ion-segment-button value="systemMessage">
        <h3 name="systemMessage">系统消息</h3>
      </ion-segment-button>
      <ion-segment-button value="privateLetter">
        <h3 name="privateLetter">私信</h3>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div class="property-list" style="height: 100%">
    <!--系统消息-->
    <div class="systemMessage-wrap" *ngIf="viewMode==='systemMessage'">
      <!--有消息-->
      <div class="systemMessage-have" >
        <ion-list>
          <!--class="systemMessage-item setting-item"-->
          <ion-item-sliding  class="systemMessage-item setting-item" *ngFor="let myNews of myNewsList">
            <ion-item (click)="directToNewsDeatil(myNews.id, myNews.content)">
              <div class="fl text">
                <span class="circle" *ngIf="myNews.has_read == '10B'"></span>
                <span>{{myNews.content}}</span>
              </div>
              <div class="fr time">{{myNews.push_time | date:'yyyy-MM-dd'}}</div>
            </ion-item>
            <ion-item-options>
              <button  (click)="removeItem(myNews.id)">
                <img src="assets/image/selfNews/icon-delete@3x.png" alt="">
              </button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
      <!--无消息-->
      <div class="systemMessage-none">
        <img src="assets/image/selfNews/none-messenger@3x.png" alt="">
        <p class="text">暂无消息</p>
      </div>
    </div>
    <!--私信-->
    <div class="privateLetter-wrap" *ngIf="viewMode==='privateLetter'" id="privateLetter">
      <!--有私信-->
      <div class="privateLetter-have" >
        <div class="privateLetter-item clearfix">
          <div class="private-img fl">
            <img src="assets/image/selfNews/pic-3@3x.png" alt="">
          </div>
          <div class="leter-wrap fl">
            <div class="leter-name">
              李家禹
            </div>
            <div class="leter-text">
              欢迎您资讯中天艺美
            </div>
          </div>
          <div class="time fr">
            5秒前
          </div>
        </div>
        <div class="privateLetter-item clearfix">
          <div class="private-img fl">
            <img src="assets/image/selfNews/pic-3@3x.png" alt="">
          </div>
          <div class="leter-wrap fl">
            <div class="leter-name">
              李家禹
            </div>
            <div class="leter-text">
              欢迎您资讯中天艺美
            </div>
          </div>
          <div class="time fr">
            5秒前
          </div>
        </div>
      </div>
      <!--无私信-->
      <div class="privateLetter-none" style="display: none">
        <img src="assets/image/selfNews/none-messenger@3x.png" alt="">
        <p class="text">暂无私信</p>
      </div>
    </div>
  </div>
</ion-content>
