

<ion-content>
  <ion-slides class="slideItem" zoom="true" (ionSlideReachEnd)="queryNext()" (ionSlideNextStart)="getNextItem()" (ionSlidePrevStart)="getPreItem()">
    <ion-slide *ngFor="let photo of photos">
      <ion-header>
        <div class="title">
          <span class="back">
            <img src="assets/image/designer/detail/icon-banck@3x.png" alt="" (click)="backListPage()">
          </span>
          <span>
            <img class="collect" *ngIf="items[currentIndex]?.caseDto?.favor == '10A'"  src="assets/image/case/quanwu/icon-collect1@3x.png" alt="" (click)="favor(currentIndex, items[currentIndex]?.caseDto?.id)">
            <img class="collect" *ngIf="items[currentIndex]?.caseDto?.favor == '10B'" src="assets/image/designer/detail/icon-collect@3x.png" alt="" (click)="favor(currentIndex, items[currentIndex]?.caseDto?.id)">
            <img class="share" src="assets/image/designer/detail/icon-share@3x.png" alt="" (click)="isShow = !isShow">
          </span>
        </div>
      </ion-header>

      <div class="swiper-zoom-container">
        <img src="{{getPhoto(photo)}}">
        <!--<img src="assets/image/case/quanwu/pic-1@3x.png" alt="">-->
      </div>
      <div class="detail-aside">
        <div class="titleBar clearfix" *ngIf="items[currentIndex]?.caseDto?.type_case == '全包'">
          <ion-label class="fl title">{{items[currentIndex]?.caseDto?.title}}</ion-label>
          <ion-label class="fr">{{currentPhotoIndex + 1}}/{{items[currentIndex]?.listPathMobile?.length}}</ion-label>
        </div>
        <div class="fixedBotton" (click)="directToBaojia()">
          我也想要这样装
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<div id="overlay" *ngIf="isShow" (click)="isShow=!isShow">
  <div class="share-wrap">
    <p class="title">
      <span class="line"></span>
      <span class="text">分享至</span>
      <span class="line"></span>
    </p>
    <div class="step-wrap clearfix">
      <div class="step-item fl">
        <img src="assets/image/share/icon-WeChat@3x.png" alt="">
        <p>微信</p>
      </div>
      <div class="step-item fl">
        <img src="assets/image/share/icon-friends@3x.png" alt="">
        <p>朋友圈</p>
      </div>
      <div class="step-item fl" (click)="shareQQ()">
        <img src="assets/image/share/icon-qq@3x.png" alt="">
        <p>QQ</p>
      </div>
      <div class="step-item last fl">
        <img src="assets/image/share/icon-weibo@3x.png" alt="">
        <p>微博</p>
      </div>
    </div>

  </div>
</div>
