
<ion-content >
  <div class="banner">
    <div class="bottom clearfix">
      <div class="login fl item" (click)="directTo('login')">
        登录
        <img *ngIf="viewMode==='login'" src="../../assets/image/login/sanjiao.png" alt="">
      </div>
      <div class="register fl item" (click)="directTo('register')">
        注册
        <img *ngIf="viewMode==='register'" src="../../assets/image/login/sanjiao.png" alt="">
      </div>
    </div>
  </div>
  <div class="form" *ngIf="viewMode==='login'">
    <div class="input-wrap">
      <div class="phone-wrap">
        <input class="phone" type="text" placeholder="手机号" maxlength="11" [(ngModel)]="login.username">
      </div>
      <div class="password-wrap">
        <input class="password" type="text" placeholder="密码" [(ngModel)]="login.password">
      </div>
    </div>
    <p class="forget fr" (click)="directToLookpassword()">忘记密码</p>
    <div class="submit-wrap">
      <button class="submit" (click)="directToLogin()">登录</button>
    </div>
    <p class="goregister" (click)="directTo('register')">
      注册新用户
    </p>
  </div>
  <div class="registerform" *ngIf="viewMode==='register'">
    <div class="input-wrap">
      <div class="phone-wrap">
        <input class="phone" type="text" placeholder="手机号" maxlength="11" [(ngModel)]="register.username">
      </div>
      <div class="validation-wrap">
        <input class="validation" type="text" placeholder="验证码" [(ngModel)]="register.code">
        <button class="getCode" [disabled]="disabled" (click)="getCode($event)">{{tips}}</button>
      </div>
      <div class="password-wrap">
        <input class="password" type="text" placeholder="密码" [(ngModel)]="register.password">
      </div>

      <div class="select-wrap" (click)="isShow=!isShow">
        <div class="select" type="text">{{role}}</div>
        <img src="../../assets/image/register/xiala.png" alt="" *ngIf="isShow" (click)="isShow=!isShow">
        <img src="../../assets/image/register/xiala.png" alt="" *ngIf="!isShow" (click)="isShow=!isShow">
        <ul class="option-wrap" *ngIf="isShow">
          <div style="width: 100%" (click)="changeRole('FRDESIGNER','自由设计师')">
            <li class="free">自由设计师</li>
          </div>
          <div (click)="changeRole('DESIGNER','企业设计师')">
            <li>企业设计师</li>
          </div>
          <div (click)="changeRole('SUPERVISOR','监理')">
            <li>监理</li>
          </div>
          <div (click)="changeRole('USER','普通用户')">
            <li>普通用户</li>
          </div>
          <!--data-value="DESIGNER"-->
        </ul>
      </div>
    </div>
    <div class="agree-wrap">
      <input type="radio" checked>
      <span>我已阅读并接受 <span class="clause">《装修常见问题条款》</span></span>
    </div>
    <div class="submit-wrap">
      <button class="submit" (click)="directToRegister()">完成</button>
    </div>
  </div>
</ion-content>


