$px: 16rem/750;
.swiper-pagination-bullet{
  background: rgba(0,0,0,0.9);
}
.swiper-pagination-bullet-active{
  background: rgb(255,255,255);
}
page-underlineEngineering {
  ion-header {
    .title {
      position: relative;
      .back {
        position: absolute;
        width: 24*$px;
        height: 42*$px;
        left: 20*$px;
        top: 30*$px;
      }
    }
  }
  ion-content{
    .banner{
      text-align: center;
      background-color: #fff;
      font-size: 24*$px;
      color: rgb(51,51,51);
      padding-bottom: 15*$px;
      img{
        height: 300*$px;
        margin-bottom: 15*$px;
      }
    }
    .inner-content{
      padding: 20*$px;
      .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 80*$px;
      }
      .float-title{
        height: 80*$px;
        background-color: rgba(255,255,255,0.4);
        font-size: 32*$px;
        color: #fff;
        line-height: 80*$px;
        text-align: center;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
