<ion-header>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segmentModel">
      <ion-segment-button value="segmentOne">
        segmentOne
      </ion-segment-button>
      <ion-segment-button value="segmentTwo">
        segmentTwo
      </ion-segment-button>
      <ion-segment-button value="segmentThree">
        segmentThree
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content (swipe)="swipeEvent($event)">
  <div [ngSwitch]="segmentModel">
    <ion-list *ngSwitchCase="'segmentOne'">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/icon/favicon.ico">
        </ion-thumbnail>
        <h2>segmentOne</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'segmentTwo'">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/icon/favicon.ico">
        </ion-thumbnail>
        <h2>segmentTwo</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'segmentThree'">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/icon/favicon.ico">
        </ion-thumbnail>
        <h2>segmentThree</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>




<!--<ion-header>-->
    <!--<ion-segment [(ngModel)]="viewMode">-->
      <!--<ion-segment-button value="fullScreen">-->
        <!--<h3 name="fullScreen">全屋</h3>-->
      <!--</ion-segment-button>-->
      <!--<ion-segment-button value="simpleGraph" >-->
        <!--<h3 name="simpleGraph">单图</h3>-->
      <!--</ion-segment-button>-->
      <!--<ion-segment-button value="panorama" >-->
        <!--<h3 name="panorama">VR全景</h3>-->
      <!--</ion-segment-button>-->
    <!--</ion-segment>-->
  <!--</ion-header>-->

  <!--<ion-content class="property-list">-->
    <!--<ion-list *ngIf="viewMode==='fullScreen'">-->
     <!--<div></div>-->
    <!--</ion-list>-->
    <!--<div *ngIf="viewMode==='simpleGraph'" style="width:100%;height:100%;" id="simpleGraph">-->
      <!--sdcdchbdfhbvhjd-->
    <!--</div>-->
    <!--<div *ngIf="viewMode==='panorama'" style="width:100%;height:100%;" id="panorama">-->
      <!--bxsbchjdsbch-->
    <!--</div>-->
  <!--</ion-content>-->








<!--<ion-content class="property-list">-->
  <!--&lt;!&ndash;下拉刷新&ndash;&gt;-->
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
    <!--<ion-refresher-content></ion-refresher-content>-->
  <!--</ion-refresher>-->

  <!--<ion-list>-->

    <!--<ion-item-sliding *ngFor="let property of properties">-->
      <!--<button ion-item (click)="openPropertyDetail(property)">-->
        <!--<ion-thumbnail item-left>-->
          <!--<img src="{{property.photoPath}}"/>-->
        <!--</ion-thumbnail>-->
        <!--<h2>{{property.title}}</h2>-->
        <!--<p>{{property.id}}</p>-->
      <!--</button>-->
      <!--<ion-item-options>-->
        <!--<button danger (click)="deleteItem(property)">Delete</button>-->
      <!--</ion-item-options>-->
    <!--</ion-item-sliding>-->

  <!--</ion-list>-->

  <!--<div *ngIf="viewMode==='map'" style="width:100%;height:100%;" id="map"></div>-->

<!--</ion-content>-->
