icon-select@3x.png<ion-header no-shadow no-border>
  <ion-toolbar color="light">
    <ion-segment class="top_segment" [(ngModel)]="top_segment">
      <ion-segment-button (click)="select(0)" value="top_0">
        <h3>全屋</h3>
      </ion-segment-button>
      <ion-segment-button (click)="select(1)" value="top_1">
        <h3>单图</h3>
      </ion-segment-button>
      <ion-segment-button (click)="select(2)" value="top_2">
        <h3>VR全景</h3>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content has-bouncing="false">
  <ion-slides (pan)="panEvent($event)"
    #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list *ngIf="selected_segment===0">
          <div class="tab-select">
            <div class="tab-list">
              户型
              <img class="select-dowm" src="../../assets/image/case/quanwu/icon-select@3x.png" alt="">
            </div>
            <div class="tab-list">
              风格
              <img class="select-dowm" src="../../assets/image/case/quanwu/icon-select@3x.png" alt="">
            </div>
            <div class="tab-list">
              面积
              <img class="select-dowm" src="../../assets/image/case/quanwu/icon-select@3x.png" alt="">
            </div>
          </div>
          <div class="full-screen-wrap">
            <div class="full-screen-item">
              <div class="img-wrap">
                <img src="../../assets/image/case/quanwu/pic-1@3x.png" alt="">
              </div>
              <div class="full-screen-intro">
                <div class="full-title">
                  80m²/北欧/全包
                </div>
                <div class="full-move">
                  <div class="full-move-left fl">
                    <a href="javascript:;" class="follow-wrap">
                      <img src="../../assets/image/case/quanwu/icon-2@3x.png" alt="">
                      <span>2335</span>
                    </a>
                    <a href="javascript:;">
                      <img src="../../assets/image/case/quanwu/icon-3@3x.png" alt="">
                      <span>150</span>
                    </a>
                  </div>
                  <div class="full-move-right fr">
                    魏亚茹
                  </div>
                </div>
                <div class="portrait">
                  <img src="../../assets/image/case/quanwu/design@3x.png" alt="">
                </div>
              </div>
            </div>
            <div class="full-screen-item">
              <div class="img-wrap">
                <img src="../../assets/image/case/quanwu/pic-1@3x.png" alt="">
              </div>
              <div class="full-screen-intro">
                <div class="full-title">
                  80m²/北欧/全包
                </div>
                <div class="full-move">
                  <div class="full-move-left fl">
                    <a href="javascript:;" class="follow-wrap">
                      <img src="../../assets/image/case/quanwu/icon-2@3x.png" alt="">
                      <span>2335</span>
                    </a>
                    <a href="javascript:;">
                      <img src="../../assets/image/case/quanwu/icon-3@3x.png" alt="">
                      <span>150</span>
                    </a>
                  </div>
                  <div class="full-move-right fr">
                    魏亚茹
                  </div>
                </div>
                <div class="portrait">
                  <img src="../../assets/image/case/quanwu/design@3x.png" alt="">
                </div>
              </div>
            </div>
            <div class="full-screen-item">
              <div class="img-wrap">
                <img src="../../assets/image/case/quanwu/pic-1@3x.png" alt="">
              </div>
              <div class="full-screen-intro">
                <div class="full-title">
                  80m²/北欧/全包
                </div>
                <div class="full-move">
                  <div class="full-move-left fl">
                    <a href="javascript:;" class="follow-wrap">
                      <img src="../../assets/image/case/quanwu/icon-2@3x.png" alt="">
                      <span>2335</span>
                    </a>
                    <a href="javascript:;">
                      <img src="../../assets/image/case/quanwu/icon-3@3x.png" alt="">
                      <span>150</span>
                    </a>
                  </div>
                  <div class="full-move-right fr">
                    魏亚茹
                  </div>
                </div>
                <div class="portrait">
                  <img src="../../assets/image/case/quanwu/design@3x.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </ion-list>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list>
          单图
        </ion-list>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <div class="tab-select">
          <div class="tab-list">
            风格
            <img class="select-dowm" src="../../assets/image/case/quanwu/icon-select@3x.png" alt="">
          </div>
          <div class="tab-list">
            面积
            <img class="select-dowm" src="../../assets/image/case/quanwu/icon-select@3x.png" alt="">
          </div>
        </div>
        <div class="panorama-wrap">
          <div class="panorama-item">
            <img src="../../assets/image/case/panorama/pic-1@3x.png" alt="">
            <div class="panorama-button">
              VR全景
              <img src="../../assets/image/case/panorama/icon-action@3x.png" alt="">
            </div>
          </div>
        </div>
      </ion-scroll>
    </ion-slide>

  </ion-slides>
</ion-content>



<!--<ion-content class="property-list">-->
  <!--&lt;!&ndash;下拉刷新&ndash;&gt;-->
  <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
    <!--<ion-refresher-content></ion-refresher-content>-->
  <!--</ion-refresher>-->

  <!--<ion-list>-->

    <!--<ion-item-sliding *ngFor="let property of properties">-->
      <!--<button ion-item (click)="openPropertyDetail(property)">-->
        <!--<ion-thumbnail item-left>-->
          <!--<img src="{{property.photoPath}}"/>-->
        <!--</ion-thumbnail>-->
        <!--<h2>{{property.title}}</h2>-->
        <!--<p>{{property.id}}</p>-->
      <!--</button>-->
      <!--<ion-item-options>-->
        <!--<button danger (click)="deleteItem(property)">Delete</button>-->
      <!--</ion-item-options>-->
    <!--</ion-item-sliding>-->

  <!--</ion-list>-->

  <!--<div *ngIf="viewMode==='map'" style="width:100%;height:100%;" id="map"></div>-->

<!--</ion-content>-->
