$px: 16rem/750;
page-article-step {
  ion-header {
    .title {
      position: relative;
      .back {
        position: absolute;
        width: 24*$px;
        height: 42*$px;
        left: 20*$px;
        top: 30*$px;
      }
    }
  }
  ion-content{
    .progress-wrap{
      padding: 25*$px 0 25*$px 20*$px;
      background-color: #fff;
      height: 186*$px;
      ion-slide{
        width: 180*$px;
        height: 150*$px;
        .progress-step{
          //margin-right: 20*$px;
          height: 150*$px;
          img{
            width: 180*$px;
            height: 140*$px;
          }
        }
      }
    }
    .knowledge{
      margin-top: 30*$px;
      background-color: #fff;
      padding-bottom: 10*$px;
      .knowledge-item{
        padding-top: 20*$px;
        padding-left: 20*$px;
        margin-bottom: 10*$px;
        .img-wrap{
          margin-right: 20*$px;
          width: 210*$px;
          height: 156*$px;
          img{
            width: 210*$px;
            height: 156*$px;
          }
        }
        .text-right{
          width: 464*$px;
          .headline{
            font-size: 26*$px;
            color: #333;
            margin-bottom: 10*$px;
            width: 464*$px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
            display: block;
          }
          .text{
            font-size: 24*$px;
            color: #575757;
            line-height: 40*$px;
            margin-bottom: 10*$px;
            width: 464*$px;
            overflow:hidden;
            text-overflow:ellipsis;
            display:-webkit-box;
            -webkit-box-orient:vertical;
            -webkit-line-clamp:2;
          }
          .time{
            color: #999;
            font-size: 18*$px;
          }
        }
      }
    }
  }
}
